@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: oklch(92.8% 0.006 264.531); /* gray 200 */
  background-color: oklch(21% 0.034 264.665); /* gray 800 */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
}
a:hover {
  opacity: 0.6;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

button{
  cursor: pointer;
}

button:hover {
  opacity: 0.6;
}