.app {
    text-align: center;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-normal);
    position: relative;
}

.app_inner {
    width: 80%;
    padding: 40px 0;
}

.section {
    padding-top: 20px;
}

.section_title {
    font-weight: bold;
    font-size: var(--font-size-large);
    padding: 10px 0;
}

.section_body {
    padding: 10px 0;
}

.icon_left {
    margin-right: 5px;
}

.icon_right {
    margin-left: 5px;
}

.text_link_h {
    position: relative;
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    transition: padding-right 300ms ease-out;
}

.text_link_h::after {
    border-bottom: 2px solid var(--main-highlight-color);
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.text_link_h_item {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms linear, transform 300ms ease-out;
}

.text_link_h:hover {
    padding-right: 1.3em;
}

.text_link_h:hover .text_link_h_item {
    visibility: visible;
    opacity: 1;
}